/* Global settings */
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Top of the page */

body {
    background-color: rgb(10, 10, 10);
    color: #eee6e6
}

header {
    padding-left: 10%;
    width: 100%;
    height: 110vh;
    background-image: url('images/mainPhoto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}


.pcMenu nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-right: 15%;
}

#logo {
    float: left;
    height: 20vh;
    margin-top: 50px;
}

.pcMenu nav ul li {
    display: inline-block;
    list-style: none;
    margin-top: 30px;
    margin-right: 35px;
    font-size: 27px;
}

/*https: //css-tricks.com/css-link-hover-effects/*/
nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    box-shadow: inset 0 0 0 0 #4a9bb8;
    transition: box-shadow .5s ease-in-out;
}

nav ul li a:hover {
    box-shadow: inset 130px 0 0 0 #4a9bb8;
    color: white;
}

#line1 {
    border-top: 2px solid #4a9bb8;
    margin-top: 15px;
    width: 490px;
}

.backgroundText {
    padding-top: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.backgroundText h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.backgroundText p {
    color: #4a9bb8;
    font-size: 30px;
}

/* About me section */

.aboutMeSection {
    padding-top: 5%;
    padding-left: 10%;
}

.aboutMeContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    padding-right: 15%;
}

.aboutMeContainer .leftColumn {
    flex-basis: 35%;
}

.aboutMeContainer .rightColumn {
    flex-basis: 60%;
}

.aboutMeContainer .rightColumn h1 {
    font-size: 35px;
    color: #4a9bb8;
}

#line2 {
    margin-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid white;
}

.aboutMeText {
    font-size: 20.5px;
}

.aboutMePicture {
    height: 450px;
}

/* Cases */

.cases {
    padding-top: 10%;
    padding-left: 10%;
    margin-right: 40%;
    text-decoration: none;
}

.cases h1 {
    color: #4a9bb8;
    font-size: 35px;
}

.casesContainer h1 {
    color: #4a9bb8;
    font-size: 25px;
}

#line3 {
    margin-top: 10px;
    padding-bottom: 10px;
    width: auto;
    border-top: 2px solid white;
}

.casesContainer {
    display: grid;
    grid-template-rows: [firstRow] auto [secondRow] auto [thirdRow] auto [fourthRow] auto;
    grid-template-columns: [firstColumn] auto [secondColumn] auto;
    grid-row-gap: 50px;
    font-size: 20px;
}

.magnGlassImg {
    height: 60px;
}

#img1 {
    margin-top: 20px;
    grid-row-start: firstRow;
    grid-row-end: secondRow;
}

.casesContainer .firstCase {
    margin-top: 20px;
    grid-row-start: firstRow;
    grid-row-end: secondRow;
    grid-column-start: secondColumn;
}

#img2 {
    grid-row-start: secondRow;
    grid-row-end: thirdRow;
}

.casesContainer .secondCase {
    grid-row-start: secondRow;
    grid-row-end: thirdRow;
    grid-column-start: secondColumn;
}

#img3 {
    grid-row-start: thirdRow;
    grid-row-end: fourthRow;
    grid-column-start: firstColumn;
    grid-column-end: secondColumn;
}

.casesContainer .thirdCase {
    grid-row-start: thirdRow;
    grid-row-end: fourthRow;
    grid-column-start: secondColumn;
}

.casesContainer .More {
    margin-top: 10px;
}

.casesContainer .More a {
    color: #4a9bb8;
    text-decoration: none;
    font-size: 25px;
}

/*contact section*/

.contactContainer {
    text-align: center;
    padding: 10%;
}

.contactContainer h1 {
    font-size: 35px;
    color: #4a9bb8;
}

.icons {
    height: 40px;
}


.email,
.phone {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.email p,
.phone p {
    margin-top: 8px;
    font-size: 20px;
}


#line4 {
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
    border-top: 2px solid white;
}


.contactContainer form {
    width: 100%;
}

form input,
form textarea {
    width: 50%;
    border: 0;
    padding: 8px;
    margin: 10px;
    outline: none;
    background: #393a3a;
    color: #d1d8db;
    font-size: 21px;
    border-radius: 5px;
}

.button {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    display: inline-block;
    outline: 0px;
    background-color: #4a9bb8;
    outline-color: #4a9bb8;
    font-size: 27px;
    padding: 10px;
    border-radius: 10px;
    width: 82px;
    margin-top: 10px;
}

.button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(10, 71, 86, 0.6), 0 0 20px rgba(52, 130, 142, 0.3);
    outline-color: rgb(250, 250, 250);
}

/*Find us section*/

.FindUs {
    padding: 10%;
    text-align: center;
}

.findUsContainer h1 {
    font-size: 35px;
    color: #4a9bb8;
}

#line5 {
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
    border-top: 2px solid white;
}

.Location {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#locIcon {
    height: 65px;
}

.Location p {
    padding-left: 20px;
    margin-top: 20px;
    font-size: 24px;
}

iframe {
    margin-top: 15px;
    width: 75%;
    border-radius: 8px;
    filter: invert(100%);
}

/* Responsive desing */

.mobileMenu {
    display: none;
}

@media (max-width: 768px) {

    .mobileMenu {
        display: block;
    }

    .mobileMenu ul li {
        margin: 10px 0;
        list-style: none;
        font-size: 27px;
    }


    .mobileMenu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        background-color: black;
        position: relative;
        top: 80%;
        width: 100%;
    }

    .pcMenu {
        display: none;
    }

    .mobileMenu {
        width: 100%;
    }

    #line1 {
        display: none;
    }

    header {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        background-image: url('images/mainPhotoResp.jpg');
        background-size: cover;
    }

    #logo {
        display: none;
    }

    .backgroundText {
        text-align: center;
    }

    .backgroundText h1 {
        padding-top: 40%;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .backgroundText p {
        color: #18cfeb;
        font-size: 30px;
    }

    /* responsive about me section */

    .aboutMeSection {
        text-align: center;
        padding-top: 5%;
        padding-left: 10%;
    }

    .aboutMeContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: stretch;
        padding-right: 15%;
    }

    .aboutMeContainer .rightColumn {
        margin-top: 10%;
        flex-basis: 90%;
    }

    /* cases section responsive */

    .cases {
        padding-top: 10%;
        padding-left: 10%;
        margin-right: 20%;
        text-decoration: none;
    }

    /* Find us section responsive */

    .Location p {
        padding-left: 0;
        margin-top: 20px;
        font-size: 24px;
    }
}